<%- include('partials/header') -%>
  <div class="container">
    <h1 class="m-3">Browse all characters:</h1>
    <div class="row g-4">
        <% for(var i=0; i<characters.length; i++) {%>
          <div class="col-md-6 col-lg-3 d-flex justify-content-center">
            <div class="card gameDisplay" style="width: 18rem;">
              <a href="/post/<%= characters[i]._id%>">
                <img class="gamePicture card-img-top" src="<%= characters[i].image%>">
              </a>
              <div class="card-body">
                <p class="card-text"><%= characters[i].name%></p>
              </div>
            </div>
          </div>
        <% } %>
    </div>
  </div>  
<%- include('partials/footer') -%>