<%- include('partials/header') -%>
<div class="container">
  <div class="mt-1">
    <a class="btn btn-primary shadow" href="/profile">DM Profile</a>
    <a class="btn btn-primary shadow" href="/post/<%= encounter.post%>">Return to game</a>
  </div>
  <div class="row justify-content-center mt-5">
    <h2>Encounter Title:</h2>
    <h2><%= encounter.title %></h2>
    <img class="img-fluid rounded shadow currentEncounterGameImage" src="<%= encounter.image%>" />
    <div class="d-flex m-2">
      <form
        class="m-2"
        action="/encounter/likeEncounter/<%= encounter.id %>?_method=PUT"
        method="POST"
      >
        <button class="btn btn-primary fa fa-heart" type="submit"></button>
      </form>
      <h3 class="m-2">Likes: <%= encounter.likes %></h3>
    </div>
    <div class="mt-3">
      <h3>Description:</h3>
      <p><%= encounter.description %></p>
    </div>
    <div class="container mt-4">
        <h3>Characters:</h3>
        <% party.forEach(member => {%>
          <a href="/character/<%= member.id%>" target="_blank" class="btn btn-primary shadow"><%= member.name%></a>
        <%})%>
        <h3 class="mt-3">Characters Turn:</h3>
        <% if(encounter.active) {%>
          <% if(encounter.dmTurn) {%>
            <a class="btn btn-primary shadow"> DM </a>
          <%} else {%>
            <a href="/character/<%= characterTurn.id%>" target="_blank" class="btn btn-primary shadow"><%= characterTurn.name %></a>
          <%}%>
        <%} else {%>
          <span>This encounter has concluded</span>
        <%}%>
    </div>
  </div>
</div>

<!--  Action Section-->
<div class="container mt-5">
  <div class="d-flex flex-column align-items-center">
  <% if(characterTurn.user == user.id && encounter.active){%>
    <% if(encounter.dmTurn) {%>
      <span>You will be next, the DM is thinking.</span>
    <%} else {%>
      <span>It is your turn</span> 
      <div class="d-flex flex-row mt-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addRound">
          Add round
        </button>
        <form
              class="ms-3"
              action="/encounter/toggleDm/<%= encounter.id %>?_method=PUT"
              method="POST"
            >
              <button class="btn btn-warning" type="submit">Toggle DM Turn</button>
        </form>
        <form
              class="ms-3"
              action="/encounter/progressEncounter/<%= encounter.id %>?_method=PUT"
              method="POST"
            >
              <button class="btn btn-warning" type="submit">Next Character</button>
        </form>
      </div>
    <%}%>
  <%} else if(characterTurn.user != user.id && user.id != encounter.dm && encounter.active) {%>
    <% if(encounter.dmTurn){%>
      <span>Please be patient, the DM is thinking.</span>
    <%} else {%>
      <span>Please be patient, <%= characterTurn.name %> is thinking. </span> 
    <%}%>
  <%} else if(user.id == encounter.dm && encounter.active) {%>
    <span>Hello God, your will be done:</span>
    <div class="d-flex flex-row">
      <form
        class="m-3"
        action="/encounter/toggleDm/<%= encounter.id %>?_method=PUT"
        method="POST"
      >
        <button class="btn btn-warning shadow" type="submit">Toggle DM</button>
      </form>
      <% if(encounter.dmTurn){%>
        <button type="button" class="btn btn-primary m-3 shadow" data-bs-toggle="modal" data-bs-target="#addRound">
          Add text round
        </button>
        <button type="button" class="btn btn-primary m-3 shadow" data-bs-toggle="modal" data-bs-target="#addSkillRollRound">
          Skill Check
        </button>
        <button type="button" class="btn btn-primary m-3 shadow" data-bs-toggle="modal" data-bs-target="#addSaveRollRound">
          Saving Throw
        </button>
      <%} else {%>
        <form
            class="m-3"
            action="/encounter/progressEncounter/<%= encounter.id %>?_method=PUT"
            method="POST"
          >
            <button class="btn btn-warning shadow" type="submit">Skip player</button>
        </form>
      <%} %> 
    </div>
  <%} else {%>
    <span>This encounter has concluded</span>
    <% if (user.id == encounter.dm) {%>
      <form
          class="m-3"
          action="/encounter/toggleEncounter/<%= encounter.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-info shadow" type="submit">Re-Open Encounter</button>
      </form>
    <%}%>
  <%}%>
  <div class="d-flex">
    <%if(encounter.dm == user.id){ %>
      <!-- Button Deletion Modal -->
      <% if(encounter.active) {%>
        <form
        class=""
        action="/encounter/toggleEncounter/<%= encounter.id %>?_method=PUT"
        method="POST"
        >
          <button class="btn btn-danger shadow" type="submit">End Encounter</button>
        </form>
      <%}%>
      <button type="button" class="shadow ms-3 btn btn-danger shadow" data-bs-toggle="modal" data-bs-target="#deleteEncounter">
        Delete Encounter
      </button>
    <%}%>
  </div>

  </div>
  <!-- Display rounds -->
  <div class="container mt-3">
    <% rounds.forEach((round)=> {%>
      <div class="card mb-3 shadow">
        <div class="card-header d-flex">
          <% if(round.player == round.dm){%>
            DM  
          <%} else {%>
            <%= round.player %>
          <%} %>
          <% if(user.id == encounter.dm && round.type == "textRound") {%>
            <button type="button" class="shadow ms-auto btn btn-warning shadow" data-bs-toggle="modal" data-bs-target="#editRound">
              Edit Round
            </button>
            <%- include('partials/editRound', {round: round}) -%>
          <%}%>
          <% if(user.id == encounter.dm) {%>
            <button type="button" class="shadow ms-auto btn btn-danger shadow" data-bs-toggle="modal" data-bs-target="#deleteRound">
              Delete Round
            </button>
            <%- include('partials/deleteRound', {round: round}) -%>
          <%}%>
        </div> 
        <div class="card-body">
          <% if(round.type == "textRound") {%>
            <p class="card-text"> <%= round.description %> </p>  
          <%} else if(!round.rolled) {%>
            <p class="card-text"> <%= round.player %> to roll for <%= round.rollFor %></p>
            <% if(characterTurn.user == user.id) {%>
              <form action="/round/makeRoll/<%= round._id %>/<%= characterTurn.id %>?_method=PUT" method="POST">
                <button type="submit" class="mx-auto btn btn-primary" value="Upload">Submit</button>
              </form>
            <%}%>
          <%} else {%>
              <p><%= round.player %> rolled for <%= round.rollFor%>. They had to beat <%= round.target %>, and they rolled <%= round.nat20 ? "NAT 20 SUCKA!!" : round.playerRoll %>!</p>
          <%}%>
          
        </div>
      </div>
    <%})%>
  </div>
</div>

<!-- Modal Round -->
<div class="modal fade" id="addRound" tabindex="-1" aria-labelledby="addRoundLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newRoundLabel">New Round</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/round/createRound/<%= encounter.id %>/<%= user.id%>" method="POST">
          <!-- Description -->
          <div class="form-group mb-3">
            <label for="encounterDescription">What do you do?</label>
            <input type="hidden" id="type" name="type" value="textRound" />
            <textarea type="text" class="form-control" id="encounterDescription" placeholder="Encounter Description" name="description"></textarea>
          </div>
          <button type="submit" class="mx-auto btn btn-primary" value="Upload">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Skill Roll -->
<div class="modal fade" id="addSkillRollRound" tabindex="-1" aria-labelledby="addSkillRollRoundLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newRoundLabel">Skill roll for <%= characterTurn.name%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/round/createRound/<%= encounter.id %>/<%= characterTurn.user %>" method="POST">
          <!-- Description -->
          <div class="form-group mb-3">
            <label for="encounterDescription"><%= characterTurn.name%> rolls for:</label>
            <select class="form-select" aria-label="Default select example" name="rollFor" required>
              <option value="acrobatics">Acrobatics</option>
              <option value="animalHandling">AnimalHandling</option>
              <option value="arcana">Arcana</option>
              <option value="athletics">Athletics</option>
              <option value="deception">Deception</option>
              <option value="history">History</option>
              <option value="insight">Insight</option>
              <option value="intimidation">Intimidation</option>
              <option value="investigation">Investigation</option>
              <option value="medicine">Medicine</option>
              <option value="nature">Nature</option>
              <option value="perception">Perception</option>
              <option value="performance">Performance</option>
              <option value="persuasion">Persuasion</option>
              <option value="religion">Religion</option>
              <option value="sleightOfHand">Sleight Of Hand</option>
              <option value="stealth">Stealth</option>
              <option value="survival">Survival</option>
            </select>
            <label for="playerTarget"><%= characterTurn.name%> to beat:</label>
            <input required type="number" class="form-control" id="playerTarget" name="target" min="1" max="30"></textarea>
            <input type="hidden" id="type" name="type" value="rollRound" />
            <input type="hidden" id="type" name="rollCategory" value="skillModifiers" />
            <div class="container mt-2">
              <table>
                <tr>
                  <th>Task Difficulty</th>
                  <th>DC</th>
                </tr>
                <tr>
                  <td>Very Easy</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>Easy</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>Medium</td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>Hard</td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>Very Hard</td>
                  <td>25</td>
                </tr>
                <tr>
                  <td>Nearly impossible</td>
                  <td>30</td>
                </tr>
              </table>
            </div>
          </div>
          <button type="submit" class="mx-auto btn btn-primary" value="Upload">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Saving Throw Roll -->
<div class="modal fade" id="addSaveRollRound" tabindex="-1" aria-labelledby="addSaveRollRoundLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newRoundLabel">Saving Throw / Ability check for <%= characterTurn.name%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/round/createRound/<%= encounter.id %>/<%= characterTurn.user %>" method="POST">
          <!-- Description -->
          <div class="form-group mb-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="rollCategory" value="saveModifiers" id="savingThrow">
              <label class="form-check-label" for="savingThrow">
                Saving Throw
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="rollCategory" value="checkModifiers" id="abilityCheck" checked>
              <label class="form-check-label" for="abilityCheck">
                Check
              </label>
            </div>
            <label for="encounterDescription"><%= characterTurn.name%> rolls for:</label>
            <select class="form-select" aria-label="Default select example" name="rollFor" required>
              <option value="str">Strength</option>
              <option value="dex">Dexterity</option>
              <option value="con">Constitution</option>
              <option value="int">Intelligence</option>
              <option value="wis">Wisdom</option>
              <option value="char">Charisma</option>
            </select>
            <label for="playerTarget"><%= characterTurn.name%> to beat:</label>
            <input required type="number" class="form-control" id="playerTarget" name="target" min="1" max="30"></textarea>
            <input type="hidden" id="type" name="type" value="rollRound" />
            <div class="container mt-2">
              <table>
                <tr>
                  <th>Task Difficulty</th>
                  <th>DC</th>
                </tr>
                <tr>
                  <td>Very Easy</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>Easy</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>Medium</td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>Hard</td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>Very Hard</td>
                  <td>25</td>
                </tr>
                <tr>
                  <td>Nearly impossible</td>
                  <td>30</td>
                </tr>
              </table>
            </div>
          </div>
          <button type="submit" class="mx-auto btn btn-primary" value="Upload">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Encounter -->
<div class="modal fade" id="deleteEncounter" tabindex="-1" aria-labelledby="deleteEncounterLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteEncounterLabel">Warning!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Encounter deletion cannot be undone, you're condemning this moment to fantasy death!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form
          action="/encounter/deleteEncounter/<%= encounter.id %>?_method=DELETE"
          method="POST"
          class=""
        >
        <button class="btn btn-danger" type="submit">Do it</button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
